{% extends "base.html" %}
 
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
<form id='setting-form' action="" method="post" novalidate>
	<div id='g-header'>
		<h1>Settings:</h1>
		<p>Availability between 9am-10pm (please use 24 hour clock): </p>
	</div>
	
	<label for="exampleFormControlInput1" id='g-work-label'>Working Hours</label>

	<p id='g-start'>Start: {{form.start_time(class="form-control", id="exampleFormControlSelect1")}}</p>
	<p id='g-end'>End: {{form.end_time(class="form-control", id="exampleFormControlSelect1")}}</p>

	<label for="exampleFormControlInput1" id='g-duration-label'> Length of appointment?</label>
	<div id='g-duration'>
		{{form.duration(class="form-control", id="exampleFormControlSelect1")}}
	</div>

	<div id='g-email'>
		{{ form.emailconfirm() }} <label for="exampleFormControlInput1">{{ form.emailconfirm.label }}</label>
	</div>

	<input id='g-delete' class="btn btn-danger" type="submit" name="submit_button" value="Delete Account">
	<input id='g-save' class="btn btn-primary" type="submit" name="submit_button" value="Save Changes">

	<div id='g-link'>
		<p>Appointment-link: <a href={{link}}>{{link}}</a></p>
	</div>
</form>
{% endblock %}
