<!DOCTYPE html>
<html>
    <head>
       {% if title %}
       <title>{{ title }} - STAKr</title>
       {% else %}
       <title>STAKr</title>
       {% endif %}
    </head>
    <body>
       <div>
        Links: 
            <a href="/">Home</a>
			{% if current_user.is_anonymous %}
            <a href="/login">Sign in</a>
			{% else %}
      <a href="/logout">Log Out</a>
      <a href="/settings">Settings</a>
			{%endif %}
            <a href="/register">Register</a>
     </div>
       <hr>

       {% block content %}{% endblock %}

       {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
            </ul>
         {% endif %}
       {% endwith %} 

    </body>
</html>
