
{% extends "base.html" %}

{% block content %}

<!--this is the account circle-->
<i class="material-icons anonymous-profile">account_circle</i>

<!--this is the log in form-->
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username(class_="login-username", placeholder=" USERNAME", size=32) }}
    </p>
    <p>
        {{ form.password(class_="login-password", placeholder=" PASSWORD", size=32) }}
    </p>
    <p id='remember'>
        <nobr>{{ form.submit(class_="login-button") }}</nobr>
        <nobr id='remember-label'>{{ form.remember_me.label }}</nobr> 
        {{ form.remember_me(class_="remember-box") }}
    </p>
    
    <p><a id="signup-link" href="{{ url_for('register') }}">Don't have an account? </a></p>
</form>

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}