
{% extends "base.html" %}

{% block content %}
<!--this is the log in form-->
<form id='sigin-form' action="" method="post" novalidate>
    <!--this is the account circle-->
    <i id='g-icon' class="material-icons anonymous-profile">account_circle</i>

    {{ form.hidden_tag() }}
    <div id='g-username'>
        {{ form.username(type="text", class="form-control", placeholder=" USERNAME") }}
    </div>
    <div id='g-password'>
        {{ form.password(type="password", class="form-control", placeholder=" PASSWORD") }}
    </div>

    <div id='submit'>
        {{ form.submit(class="btn btn-info") }}
    </div>

    <div id='remember'>
        {{ form.remember_me(class="form-check-input", id="defaultCheck1") }}
        {{ form.remember_me.label }}
    </div>
    
    <div id='g-reg-link'>
        <a id="signup-link" href="{{ url_for('register') }}">Don't have an account? </a>
    </div>
</form>

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}