{% extends "Calendar/base-calendar.html" %}

{% block admin %}
<script src="https://code.jquery.com/jquery.js"></script>
<script>
    let ele = document.getElementsByClassName("whole-calendar")
    if (ele) {
        for (let i = 0 ; i<ele.length;i ++){
            ele[i].classList.add("whole-calendar-size2")
        }
    }
</script>
<script type="text/javascript">
    document.getElementsByClassName("next")[0].onclick = () => {
        location.href = '/calendar?month={{month[0]+1}}&year={{year}}'
    }
    document.getElementsByClassName("prev")[0].onclick = () => {
        location.href = '/calendar?month={{month[0]-1}}&year={{year}}'
    }

    $(function() {
        $.getJSON('/getEventsOnMonth/'+`{{username}}/`+`{{month[0]}}/`+`{{year}}`,
            function(data) {
                data = data[0]
                data.forEach((events, index) => {
                    if (events.length!=0) {
                        events.sort(function(event1,event2){return event1.start_hour-event2.start_hour})
                        events.forEach(event => {
                            let descpt = event.event_description==='N/A'? '':event.event_description
                            console.log(event.event_description)
                            let name = (event.event_name.length<10) ? event.event_name : event.event_name.slice(0,15)+'...'
                            let original = document.getElementById(index).innerHTML
                            document.getElementById(index).outerHTML = `
                            <li class='date-with-content' id=${index}>
                                ${original}
                                <div class="event-block">
                                    ${name}:<br>${minuteToAmPm(event.start_hour)} - ${minuteToAmPm(event.end_hour)}
                                    <p id='descpt'>${descpt}</p>
                                </div>
                            </li>`
                        })
                    }
                });
            });
            return false;
        });

    function minuteToAmPm(minute){
        let total = minute / 60
        let hr = Math.floor(minute / 60)
        let min = minute % 60
        let start_time = 9
        if (min == 0) min = '00'
        if (start_time+total < 13) {
            if (start_time + hr == 12)
                return `${Math.floor(start_time+total)}:${min} P.M.`
            return `${Math.floor(start_time+total)}:${min} A.M.`
        }
        return `${Math.floor(start_time+total-12)}:${min} P.M.`
    }

    let current_date = new Date()
    if (current_date.getFullYear()=={{year}} && current_date.getMonth()+1=={{month[0]}}) {
        document.getElementById(current_date.getDate()).classList.add("today");
    }
</script>
{% endblock %}