{% extends "Calendar/base-calendar.html" %}

{% block user %}

<script>
    let ele = document.getElementsByClassName("whole-calendar")
    if (ele) {
        for (let i = 0 ; i<ele.length;i ++){
            ele[i].classList.add("whole-calendar-size")
        }
    }
</script>

<form action="" method="post">
    <div id="make-event-form" class="form-group">
        <div id='g-header'>
            <h3>Appointment with {{user.username}}</h3>
            <label>{{form.event_date.label}}: </label> 
            <nobr id="date-holder">Select a date from above</nobr>
            {{form.event_date(type='hidden')}}
            {{form.event_month(type='hidden')}}
            {{form.event_year(type='hidden')}}
        </div>
        <div id='g-name'>
            <label>{{form.guest_name.label}}</label>
            {{form.guest_name(type="text", class="form-control", placeholder="First and last name")}}
        </div>
        <div class="form-group" id='g-time'>
            <label id='choose-time-label'>Choose your time: </label>
            <select id="open-slots" class="form-control" name="open-slots">
                <option value="-1">Select An Appointment</option>
            </select>
            </div>
        <div id='g-event'>
            <label>{{form.event_name.label}}</label>
            {{form.event_name(type="text", class="form-control", placeholder="Event's Name")}} 
        </div>
        <div id='g-desc'>
            <label>{{form.event_description.label}} (optional)</label>
            {{form.event_description(type="text", class="form-control", placeholder="Short description")}}
        </div>
        <div id='g-submit'>
            {{form.submit(class="btn btn-light", id="appt-button")}}
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery.js"></script>

<script type="text/javascript">
    document.getElementsByClassName("next")[0].onclick = () => {
        location.href = `/{{user.username}}`+'?month={{month[0]+1}}&year={{year}}'
    }
    document.getElementsByClassName("prev")[0].onclick = () => {
        location.href = `/{{user.username}}`+'?month={{month[0]-1}}&year={{year}}'
    }

    $(function() {
        $.getJSON('/getEventsOnMonth/'+`{{user.username}}`+'/'+`{{month[0]}}`+'/'+`{{year}}`,
            function(data) {
                var slots = Math.floor(({{user.end_available}} - {{user.start_available}}) / {{user.meeting_length}});
                data = data[0]
                let currentDate = new Date()
                data.forEach((events, index) => {
                    if (document.getElementById(index) && index>=currentDate.getDate()) {
                        var original = document.getElementById(index).innerHTML
                        document.getElementById(index).outerHTML = `
                        <li class='date-with-content click' id='${index}' onclick="selectDate(this)">
                            <p class='number-date'>${original}</p>
                            <div class="date-slots">
                                <strong>${slots-events.length}</strong> slots left
                            </div>
                        </li>`
                    }
                });
            });
            return false;
        });
</script>

<script type="text/javascript">
    function selectDate(event) {
        document.getElementById('open-slots').outerHTML=`
            <select id="open-slots" class="form-control" name="open-slots">
                <option value="-1">Select An Appointment</option>
            </select>`
        let date = event.getElementsByClassName("number-date")[0].innerHTML
        $.getJSON('/getslots/'+`{{user.username}}/`+`{{month[0]}}/`+date+`/{{year}}`,
            function(data) {
                data.forEach(slot=>{
                    slot = slot[0]
                    $('#open-slots').append(
                        `<option value='${slot[0][0]+" "+slot[0][1]}'> ${slot[1]} </option>`
                    )
                })
            }
        )
        document.getElementById("event_date").value=date
        document.getElementById("event_month").value={{month[0]}}
        document.getElementById("event_year").value={{year}}
        document.getElementById("date-holder").innerHTML = {{month[0]}}+"/"+date+"/"+{{year}}
        //Add outliner
        let ele = document.getElementsByClassName("today")[0]
        if (ele) ele.classList.remove("today")
        document.getElementById(date).classList.add("today")
    }
</script>
{% endblock %}
