ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month-header {
  padding-bottom: 20px;
}

/* Month*/
.month {
  padding: 30px 25px;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
}

.month .next {
  float: right;
}

.weekdays, .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: white;
}

.date {
  border: 1px solid lightgray;
  padding: +20%;
}