/*This is the profile login picture*/
.material-icons.anonymous-profile{
    font-size: 150px;
    text-align: center;
    position: relative;
    left: 49%;
    top: 20%;
    margin-bottom: 20px;
    margin-top: 7%;
}

/*this is the signup link*/
#signup-link{
    position: relative;
    width: 200px; 
    height: 21px; 
    left: 47%; 
    top: 70%; 
    font-family: "Oxygen", sans-serif; 
    font-style: normal;
    font-weight: bold;
    font-size: 14px; 
    line-height: 18px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #E0E0E0;
}

/*this is the username form area*/
.login-username{
    position: relative; 
    width: 556px;
    height: 50px;
    left: 35%; 
    top: 40%; 
    background: #FFFFFF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px; 

    /*this is for the placeholder text*/
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}

/*this is the passwword form area*/
.login-password{
    position: relative; 
    width: 556px;
    height: 50px;
    left: 35%; 
    top: 50%; 
    background: #FFFFFF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px; 

    /*this is for the placeholder text*/
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}

.remember-box {
    position: relative; 
    width: 30px;
    height: 30px;
    top: 8px;
    left: 5%;
}

#remember {
    position: relative; 
    left: 35%; 
    top: 61%;
    font-size: 25px;
}

#remember-label {
    position: relative;
    left: 5%;
}

/*this is the login button*/
.login-button{
    font-family: 'Oxygen', sans-serif;
    position: relative;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    width: 151px;
    height: 50px;
    background: #EB5757;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: #EB5757;
    border-radius: 7px;
    left: 5%;
}